<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Trentino Management and Monitoring Tool</display-name>

	<!-- Shiro related configuration -->
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
		<init-param>
			<param-name>configPath</param-name>
			<param-value>classpath:Shiro.ini</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>
	
	<!--Database related configuration -->

	<resource-ref>
		<description>Derby Connection</description>
		<res-ref-name>jdbc/SimpleShiroSecuredApplicationDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<context-param>
		<param-name>liquibase.changelog</param-name>
		<param-value>../../src/main/resources/db.changelog.xml</param-value>
	</context-param>

	<context-param>
		<param-name>liquibase.datasource</param-name>
		<param-value>jdbc/TrentinoMMToolDB</param-value>
	</context-param>

	<listener>
		<listener-class>
			liquibase.integration.servlet.LiquibaseServletListener
		</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticationServiceImpl</servlet-name>
		<servlet-class>org.trentino.mmtool.TrentinoMMTool.server.AuthenticationServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServiceImpl</servlet-name>
		<url-pattern>/TrentinoMMTool/authentication</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/junithost/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>/TrentinoMMTool.html</welcome-file>
	</welcome-file-list>

</web-app>
